#navTitle {
    font-family: 'Bruno Ace', cursive;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Qwitcher Grypen', cursive;
}

.navbar {
    background-color: #2b4450;
    border-bottom: 10px solid #497285;
    position: fixed;
    top: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.navChoice {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.navChoice:hover {
    color: yellow;
    text-decoration-line: overline;
    pointer-events: stroke;
    cursor: pointer;
}

.projectCard {
    background-image: url("https://img.freepik.com/premium-photo/texture-metal_795320-815.jpg");
    background-size: 100% 100%;
    opacity:0.85 ;

}

.projectCard:hover {
    background-image: url("https://img.freepik.com/premium-photo/texture-metal_795320-815.jpg");
    background-size: 100% 100%;
    opacity:1 ;

}
.projectCardBody{
    background-color: rgb(57, 55, 49);
}
.selfIntro {
    font-family: Gooper;
    text-decoration-style: solid;
    font-size: 24.4px;
}

.hi1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}

.hi2 {
    font-family: cursive;
    font-weight: bold;

}
.selfIntro2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-style: wavy;
    font-size: 21px;
}
.projectPic {
    height: 15rem; 
}
.contactForm {
    text-align: center;
    max-width: 25% ;
    margin: 10px auto;
  }
  Form {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 20px;
  }
